<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<header class="site-header">
  <h1 class="site-title">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </h1>
  <nav class="site-nav-top">
    <ul>
      <li><a href="{{ '/'           | relative_url }}">🏠 Home</a></li>
      <li><a href="{{ '/about/'     | relative_url }}">🪶 About</a></li>
      <li><a href="{{ '/blog/'      | relative_url }}">📝 Blog</a></li>
      <li><a href="{{ '/contact/'   | relative_url }}">📬 Contact</a></li>
    </ul>
  </nav>
</header>

{% seo %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<meta name="theme-color" content="#ffffff">
